/Server/ServerDatabase/database.db
/Server/Certificates/key.pem
/Server/Certificates/cert.pem
/Server/Modules/__pycache__
/Server/ServerDatabase/__pycache__
/Server/PacketSniffing/__pychace__
.vscode/
test.*
/Client/Client_C/client.elf
